
folders.txt
ignore.txt
.idea/runConfigurations/client.xml
__pycache__/client.cpython-310.pyc
encrypt_thing/92969-Akame_ga_Kill-Akame.jpg
encrypt_thing/92969-Akame_ga_Kill-Akame.jpg
client.py
.idea/workspace.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
.idea/vcs.xml
